extends layout
block content
    a(href="/error") 
        | Something isn't right. Please try again.

        .alert.alert-danger
            | You tried to create a Thing without a name. Please try again.
    