extends layout
block content
    a(href="/things/new")
        .h4
            | Create a new thing
    a(href="/things/delete")
        .h4
            | Delete a thing
    br
    br
    ul
        each thing in things
            li 
                a(href="/things/#{thing._id}")
                    =thing.name
                
    if things.length == 0
        .alert.alert-danger
            | There are no things!
        
